{% extends "base.html" %}
{% load static %}

{% block title %}
    This Post Title
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <article>
            <img src="{% static "blog/images/mountains.jpg" %}" alt="post title">
            <address>by Scott</address>
            <div>
                Last updated on <time>September 21st</time>
            </div>
        </article>
    </section>
    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In consequat elit non maximus sagittis. 
           Duis tincidunt dictum dui eget mattis. Maecenas fermentum eu libero eu ornare. Suspendisse porta 
           viverra dapibus. Integer sagittis metus eget interdum ornare. Maecenas tincidunt, metus sit amet 
           congue sagittis, mi massa varius sapien, et gravida nisi velit quis magna. 
        </p>
        <p>
            Proin feugiat aliquam purus, a sagittis sem tempus sed. Morbi aliquet sollicitudin pharetra. 
            Etiam tellus tortor, laoreet pulvinar facilisis vitae, mattis vel dui. Fusce eleifend enim auctor 
            imperdiet sagittis. Donec semper porta vulputate. Curabitur enim nulla, ullamcorper vitae porta nec, 
            consequat at libero.</p>
    </main>
{% endblock %}
